@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(79.1% 0.193 130.850);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(53% 0.157 131.589);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(79% 0.209 151.711);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --color-neutral: oklch(30.7% 0.039 137.700);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.150 143.900);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.buttonglow {
  width: fit-content;
  min-width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(160, 252, 81);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  padding-right: 16px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
  fill: rgb(19, 19, 19);
}

.buttonglow:hover {
  color: #FFFFD6;
  background: #B0F562;
  border: 1px solid #7DBA22;
  text-shadow: 0 0 5px #61612F, 0 0 10px #CCCC87, 0 0 20px #CCCC87;
  box-shadow: 0 0 5px #C1FF57, 0 0 20px #C1FF57, 0 0 50px #C1FF57, 0 0 100px #7AB227;
}

.buttonglow:active {
  transform: scale(0.87);
}

.buttonglow:hover .svgIcon {
  transform: rotate(360deg);
  transition-duration: .8s;
  fill: rgb(255, 255, 214);
}

/* From Uiverse.io by david-mohseni */
.wrapper_btns {
  display: inline-flex;
  list-style: none;
  height: 60px;
  width: 115px;
  padding-top: 0px;
  font-family: "Poppins", sans-serif;
  justify-content: center;

  border-radius: 5%;

}

.wrapper_btns .icon {
  position: relative;
  background: #ffffff40;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 30%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_btns .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_btns .icon:hover .tooltip {
  top: -36px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper_btns .icon:hover span,
.wrapper_btns .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);

}

.wrapper_btns .download:hover,
.wrapper_btns .download:hover .tooltip,
.wrapper_btns .download:hover .tooltip::before {
  background: #8ed238;
  color: #fff;

}

.wrapper_btns .download:hover {
  transform: scale(1.09);
  box-shadow: 0 0 5px #C1FF57, 0 0 20px #C1FF57, 0 0 50px #C1FF57, 0 0 100px #7AB227;
}

.wrapper_btns .download:active {
  transform: scale(0.975);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}


.wrapper_btns .flash:hover,
.wrapper_btns .flash:hover .tooltip,
.wrapper_btns .flash:hover .tooltip::before {
  background: #e05c98;
  color: #fff;
}


.wrapper_btns .flash:hover {
  transform: scale(1.09);
  box-shadow: 0 0 5px #ff57a5, 0 0 20px #ff578f, 0 0 50px #ff57ab, 0 0 100px #b22788;
}

.wrapper_btns .flash:active {
  transform: scale(0.975);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
}